---
title: Resume
layout: home
---

<main class="bg-gradient py-5" style="background-color: var(--tf-page-bg-color)">
  <div class="container">
    <h1 class="display-4">{{ site.data.bio.basics.name }}</h1>
    <p class="lead">{{ site.data.bio.basics.label }}</p>
    <p>{{ site.data.bio.basics.summary }}</p>
    {% for profile in site.data.bio.basics.profiles %}
    <p><a href="{{ profile.url }}">{{ profile.network | capitalize }}: {{ profile.username }}</a></p>
    {% endfor %}
    <hr class="my-4">
    <section class="row py-3" aria-labelledby="education">
      <div class="col-lg-3"><h2 id="education" class="display-6">Education</h2></div>
      <div class="col-lg-9">{% for entry in site.data.bio.education %}<p class="lead">{{ entry.institution }}</p>{% endfor %}</div>
    </section>
    <section class="row py-3" aria-labelledby="interests">
      <div class="col-lg-3"><h2 id="interests" class="display-6">Interests</h2></div>
      <div class="col-lg-9">{% for entry in site.data.bio.interests %}<p class="lead">{{ entry.name }}</p>{% endfor %}</div>
    </section>
  </div>
</main>
